<!DOCTYPE html>
<html>
    
    {% extends 'crudapp2/base.html' %}
    {% block content %}
        <h1> Add member Details</h1>
        <form method="POST">
       member id <input type="text" name='member_id' value={{member.member_id}} >
       member name <input type="text" name='member_name'value={{member.member_name}} >
       book price <input type="text"  name="book price" value={{member.book_price}} >     #####HERE VALUE IS MEMBER OBJECT WILL HOLD THE ID OF MENTIONED FEILD
       member city <input type="text" name="member_city" value={{member.member_city}} >
       {% csrf_token %}
       <input type="submit" value="update student">
       </form>
    {% endblock %} 
      
</html>
